@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Estilos para el fondo con gradiente */
body {
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

.bl-style {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  padding: 48px 0 0;
}

.main-content {
  margin-left: 240px; /* Ancho del navbar lateral */
}

.hover-zoom-interest {
  border-radius: 5px;
  transition: transform 0.3s, border 0.3s;
}

.hover-zoom-interest:hover {
  transform: scale(1.05);
}