/* Estilos para el fondo con gradiente */
body {
  background: linear-gradient(to top right, #ffffff, #ff8c94);
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  padding: 48px 0 0;
}

.main-content {
  margin-left: 240px; /* Ancho del navbar lateral */
}
