.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

.navbar {
  height: 100vh;
}

@media (max-width: 992px) {
  .navbar {
    height: auto;
  }
}

.img-blur {
  filter: blur(2px); /* Ajusta el valor de desenfoque según tus necesidades */
}

.img-low {
  opacity: 0.4;
}

.home-background {
  background: linear-gradient(to bottom right, #ffffff, #884f54);
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

.bl-background {
  background: linear-gradient(to bottom right, #ffffff, #87CEEB);
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}
